[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
nltk = "*"
numpy = "*"
urllib3 = "*"
openai = "*"
environs = "*"

google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
